/***********************
 *Css file
 ***********************/
html,body{
    padding: 0;
    margin: auto;
}

/***********************
 *HEADER SECTION
 ***********************/
header{
    padding: 0;
    margin: auto;
}
#navigation-menu{
    float: right;
    padding-top:25px;
    padding-right:330px;
    background-color: linear-gradient(to top, black 0%, white 100%);
    background-blend-mode: color-dodge;
}
nav a {
  padding:10px 15px;
  background:white;
}
a:hover{
  background-color:transparent;
  color:white;
}
/***********************
 *HOME SECTION
 ***********************/
body{
padding: 0;
    margin: auto;
    z-index: 0;
    background-image: url("../Stylesheets/backgrounds/pic1.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
    height: 100%;
    width:100%;
}

/***********************
 *ABOUT SECTION
 ***********************/

#about{
padding: 0;
    margin: auto;
    width:89%;
    background:white;
  height: 900px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.about{
padding: 0;
    margin: auto;
    width:89%;
    background:white;
 
}
/***********************
 *NEWS SECTION
 ***********************/

#news{
padding: 0;
    margin: auto;
     width:89%;
    background:white;
}

/***********************
 *CONTACTS SECTION
 ***********************/

#contacts{
padding: 0;
    margin: auto;
}

