/***********************
 *Css file
 ***********************/
html,body{
    padding: 0;
    margin: auto;
}

/***********************
 *HEADER SECTION
 ***********************/
header{
    padding: 0;
    margin: auto;
}

/***********************
 *HOME SECTION
 ***********************/

#home{

}

/***********************
 *ABOUT SECTION
 ***********************/

#about{

}

/***********************
 *NEWS SECTION
 ***********************/

#news{

}

/***********************
 *CONTACTS SECTION
 ***********************/

#contacts{

}

