/***********************
 *Css file
 ***********************/
html,body{
    padding: 0;
    margin: auto;
}

/***********************
 *HEADER SECTION
 ***********************/
header{
    padding: 0;
    margin: auto;
}
#navigation-menu{
    float: right;
    padding-top:80px;
    padding-right:330px;
}

/***********************
 *HOME SECTION
 ***********************/

#home{
padding: 0;
    margin: auto;
    z-index: 0;
    background-image: url("../assets../backgrounds/pic1.jpg");
}

/***********************
 *ABOUT SECTION
 ***********************/

#about{
padding: 0;
    margin: auto;
}

/***********************
 *NEWS SECTION
 ***********************/

#news{
padding: 0;
    margin: auto;
}

/***********************
 *CONTACTS SECTION
 ***********************/

#contacts{
padding: 0;
    margin: auto;
}

